<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <add key="RabbitMQ.Host" value="localhost"/>
    <add key="RabbitMQ.Username" value="guest"/>
    <add key="RabbitMQ.Password" value="guest"/>

    <!-- probability that messages will fail-->
    <add key="ChanceOfMessageHandlingFailure" value=".1"/>
  </appSettings>

</configuration>